[user]
	email = riley@rileychh.dev
	name = Riley Ho
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILR3y0Ur9ae7CwDYtdQdZnNTEXjHWfBfdSF7HhaExhS7
[init]
	defaultBranch = main
[pull]
	rebase = true
[alias]
	s = status -sb
[gpg]
	format = ssh
[commit]
	gpgSign = true
[difftool]
	prompt = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
	trustExitCode = false
[core]
	autocrlf = input
	excludesFile = {{ .chezmoi.homeDir }}/.config/git/excludes
[rerere]
	enabled = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[rebase]
	autoStash = true
	updateRefs = true
