[Unit]
Description=Remap %i using evremap

[Service]
WorkingDirectory=/
ExecStart=bash -c "/usr/bin/evremap remap $HOME/.config/evremap/%i.toml --wait-for-device -d 0"

[Install]
WantedBy=default.target

