* {
  font-family: monospace;
  font-size: 16px;
}

window#waybar {
  /* background: linear-gradient( */
  /*   0deg, */
  /*   rgba(255, 255, 255, 0.5) 0%, */
  /*   rgba(255, 255, 255, 1) 100% */
  /* ); */
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

#clock,
#custom-weather,
#custom-media,
#cpu,
#memory,
#temperature,
#battery,
#backlight,
#pulseaudio,
#disk,
#network,
#custom-im,
#custom-pacman,
#tray {
  padding: 0px;
  margin: 0px 8px;
}

#tags button {
  color: white;
}
